@import '../styles/base/variables';
@import '../styles/base/mixins';

.global_header {
  background: url("../public/images/header-bg.png") 0 bottom repeat-x $white;
  color: $black-900;
  padding: calcRem(24px);
  text-align: center;
}

.logo {
  margin: 0 auto;
  max-width: 75%;
}

.nav {
  justify-content: space-evenly;
  display: flex;
  margin: calcRem(24px) auto calcRem(40px);
  width: calcRem(300px);
}

@include breakpoint() {
  .global_header {
    text-align: center;
  }

  .logo {
    margin: 0 auto;
    max-width: calcRem(350px);
  }
}