@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.global_header {
  background: url("../public/images/header-bg.png") 0 bottom repeat-x $white;
  color: $black-900;
  min-height: calcRem(225px);
  padding: calcRem(24px);
  text-align: center;
}

.logo {
  margin: 0 0 calcRem(16px);
  max-width: 75%;
}

.nav {
  justify-content: space-evenly;
  display: flex;
  margin: calcRem(24px) auto;
  width: calcRem(300px);
}

@include breakpoint() {
  .global_header {
    min-height: calcRem(250px);
  }

  .logo {
    margin: 0 auto;
    max-width: calcRem(350px);
  }
}