$black: #000;
$black-900: #2d2d2d;
$black-800: #323232;
$black-700: #5a5a5a;
$black-600: #7f7a7b;
$black-500: #ccc;
$black-400: #dadada;
$black-300: #e0e5e0;
$black-200: #eee;
$black-100: #f0f0f0;

$brand-a: $black-900;

$link: #39f;
$link-hover: #f39;

// Media breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;