@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');
@import 'reset.scss';
@import 'variables.scss';
@import 'mixins.scss';

body {
  background: 0 0 $black-900;
  background-image: url("../public/images/love-handles-bg.png");
  color: $white;
  font-family: 'Oswald', helvetica, sans-serif;
  text-transform: uppercase;

  @include font-size(16px);
}

.main-container {
  background: linear-gradient(
    180deg, 
    $black-900 0%, 
    $black-900 10%, 
    transparent 20%,
    transparent 100%);
  padding: calcRem(32px) 0 0;
}

a,
a:visited,
a:active {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $link-hover;
  }
}