$black: #000;
$black-900: #0c0307;
$black-800: #201b1e;
$black-700: #393336;
$black-600: #565154;
$black-500: #797376;
$black-400: #aea8ab;
$black-300: #cfc8cc;
$black-200: #eee7eb;
$black-100: #fef6fa;
$white: #fff;

$brand-a: #a23239;
$brand-b: #ff2533;
$brand-c: #542024;
$brand-d: #290f46;

$link: #39f;
$link-hover: $brand-b;

// Media breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;